:root {
    --grey: #45535c;
}

body {
    background-color: #198688;
}
  
.header {
    padding: 35px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--grey);
    color: #198688; 
}

.header h1 {
    display: inline-block;
    font-size: 60px; 
    margin-left: 5px;
}
      
   
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}

a {
    color: white;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
  
.content h2 {
    margin-bottom: 20px;
    font-size: 38px;
}

.contents {
    margin: 20px;
    padding: 50px;
    border-left: 6px solid var(--grey 
    ); 
    padding-top: 1;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.contents p {
    padding: 50px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    flex-wrap: wrap;
    margin: 40px 20px 40px 40px;
    box-shadow: 1px 0px 1px 0 rgba(0,0,0,0.2), 20px 20px 20px 0 rgba(0,0,0,0.19);
}
.flex img{
    border-radius: 8px;
    width: 100%;
    max-width:  600px;
    margin: 40px;
}

.fade {
    border: 0px;
    border-radius: 8px; 
    background-color: #198688;
    transition: background-color .5s;
}
  
.fade:hover {
    background-color: #327fac;
}

.contact {
    
    margin: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-align: center;
}

.contact div {
    padding-top: 20px;
    margin-right: 20px;
    float: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.contact div ul li {
    display: inline-block;
    margin: 0px 15px 0px;
}

.resume {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--grey);
    text-align: center;
}

.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 24px;
    color: var(--grey);
}

/* @media screen and (max-width: 1030px) {
    .header h1 {
        font-size: 40px;
    }
    .header div {
        margin-right: 10px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
}

@media screen and (max-width: 780px) {
    .header h1 {
        font-size: 40px;
        margin: 10px;
    }
    .header div {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
}