:root {
    --grey: #45535c;
  }

body {
    background-color: #198688;
}
  
.header {
    padding: 35px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--grey);
    color: #198688; 
}

.header h1 {
    display: inline-block;
    font-size: 60px; 
    margin-left: 5px;
}
      
   
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}

a {
    color: white;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
  
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.contents {
    margin: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.contents p {
    margin-left: 200px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    margin-left:200px;
    margin-right: 200px;
    flex-wrap: nowrap;
}
.flex img{
        width: 100%;
        max-width:  600px;
}

.contact {
    margin: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.resume {
    margin: 20px;
    padding: 50px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--grey);
}

.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
  
.footer h2 {
    font-size: 24px;
    color: var(--grey);
}
  
/* @media screen and (max-width: 1030px) {
    .header h1 {
        font-size: 40px;

    }
    .header div {
        margin-right: 10px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
}

@media screen and (max-width: 780px) {
    .header h1 {
        font-size: 40px;
        margin: 10px;
    }
    .header div {
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;

}
}